
<app-card
        title="Veículo"
        class="dash-card"
>
<select name="" id="" [(ngModel)]="xvar" (change)="onSelectVehicle()">
  <option value="0" disabled selected>Selecione um modelo</option>
  <option value="0">Ranger</option>
  <option value="1">Mustang</option>
  <option value="2">Territory</option>
  <option value="3">Bronco Sport</option>
</select>
</app-card>


<!-- <div *ngIf="carros">
  
  a <p>{{ carros[yvar].volumetotal }}</p>
</div > -->

<app-card
        title="Total de Vendas"
        class="dash-card"
      >{{ carros[yvar].volumetotal }}</app-card>

      <app-card
        title="Conectados"
        class="dash-card"
      >{{ carros[yvar].connected }}</app-card>
        
      <app-card
        title="Update Software"
        class="dash-card"
      >{{ carros[yvar].softwareUpdates }}</app-card>

      <div class="car-img">
        <img src="" />
      </div>