<!-- <main class="d-flex flex-row justify-content-center align-items-center" >
  <section class="bg-primary text-white p-3  flex-grow-0.8 min-vh-100 w-100" >
    <div class="w-80" >

      <img class="" src="img/Mustang-red.png" />
    </div>
  </section>
  
  <section class="bg-secondary text-white p-3 flex-grow-0.35 min-vh-100 w-100" >
    <div class="d-flex flex-column" >
      <img src="img/ford.png" class="w-25" />
    </div>
    
  </section>
</main> -->
  









<main class="d-flex flex-row justify-content-center align-items-center vh-100">

  <section class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
    <img src="img/ranger.png" class="w-75 opacity-50" />
  </section>

  <section class="d-flex flex-column align-items-center justify-content-center flex-grow-1" style="max-width: 40%; min-width: 360px;">
    <div class="border rounded-3 shadow px-5  w-100" style="height: 100vh;">
      <div class="container mt-5 mb-1 text-center">
        <img src="img/ford.png" class="w-25 my-5 " />
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="card p-4 shadow mw-70 mt-5">
              <h3 class="text-center mb-4 text-primary">Boas-vindas</h3>

              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <input
                    type="text"
                    id="nome"
                    class="form-control"
                    placeholder="Insira seu e-mail"
                    formControlName="nome"
                    [ngClass]="{
                      'is-invalid':
                        submitted && loginForm.controls['nome'].invalid
                    }"
                  />
                  <div
                    *ngIf="submitted && loginForm.controls['nome'].invalid"
                    class="invalid-feedback"
                  >
                    Nome é obrigatório
                  </div>
                </div>

                <div class="mb-3">
                  <input
                    type="password"
                    id="senha"
                    class="form-control"
                    placeholder="Insira sua senha"
                    formControlName="senha"
                    [ngClass]="{
                      'is-invalid':
                        submitted && loginForm.controls['senha'].invalid
                    }"
                  />
                  <div
                    *ngIf="submitted && loginForm.controls['senha'].invalid"
                    class="invalid-feedback"
                  >
                    Senha é obrigatória
                  </div>
                </div>

                <div class="d-flex flex-column gap-3">
                  <div class="d-flex justify-content-end">
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="meuSwitch"
                      />
                      <label class="form-check-label" for="meuSwitch">
                        Logar automaticamente
                      </label>
                    </div>
                  </div>

                  <button class="btn btn-primary w-100" type="submit">
                    Entrar
                  </button>
                </div>
              </form>

              <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                {{ errorMessage }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>