/* main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    section, div.overlay-wrapper {
        height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-section {
    gap: 1rem;

        flex-grow: .7;
        background-color: #9b9ca3;
        img{
            width: 45vw;
            opacity: 0.65;
        }
    }

    div.overlay-wrapper{
        height: 85vh;
        width:89%;
        padding: 10px;
        border: 1px solid #191b305f;
        border-radius: 50px;
        box-shadow: 12px 12px 12px #35396a;  
    }

    .form-section {
        padding: 0 35px;
        flex-grow: 0.35;
        background-color: #e3e3e4;

        h2{
            font-size: 2.2rem;
            font-weight: bold;  
            color: #2f4088;
            margin-bottom: 2.8rem;  
        }
        
        img {
            width: 11vw;
            margin-bottom: 5rem;
        }
    }

    .btn-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        gap: 2rem;
        margin-top: 2rem;

        .divider{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.25rem;
            width: 100%;

            font-size: 14px;
            color: #8193b4c2;
            font-weight: 400;
            text-transform: uppercase;

            div{
                min-width: 100px;
                height: 1px;
                background-color: #8193b4c2;
            }
        }
        
        button{
            width: 75%;
            border-radius: 8px;
            font-size: 1rem;
            font-weight: 500;
            border: none;
            background-color: transparent;
            padding: .6rem 0;
            cursor: pointer;

            &:disabled {
                opacity: 0.6;
            }
    
            &.btn-primary{
                background-color: #131b70;
                color: white;
                box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.418);
                &:hover{
                    background-color: #1321b9;
                }
            }
            &.btn-secondary{
                border: 1px solid #131b70;
                color: #131b70;
                &:hover{
                    background-color: #c4c9db;    
                }
            }
        }

    }

} */
