<main>
  <section class="main-section">
    <img class="overlay" src="img/Mustang-red.png" />
    <app-sidebar
      [logo]="'img/ford.png'"
      [links]="[
        { label: 'Login', route: '/login' },
        { label: 'Home', route: '/home' },
        { label: 'Dashboard', route: '/dashboard' }
      ]"
    ></app-sidebar>
  </section>

  <section class="form-section">
    <div class="overlay-wrapper">
      <img src="img/ford.png" />
      <h2>Boas-vindas</h2>
      <app-input></app-input>
    </div>
  </section>
</main>



<!-- <div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="username">Usuário</label>
      <input id="username" formControlName="username" type="text" />
      
      <label for="password">Senha</label>
      <input id="password" formControlName="password" type="password" />
      
      <button type="submit">Entrar</button>
      
      <p *ngIf="loginError" class="error">{{ loginError }}</p>
    </form>
  </div>
   -->