<div class="container mt-4">
  
  <div *ngIf="errorMessage" class="alert alert-danger text-center">
    {{ errorMessage }}
  </div>
  
  <table
    class="table table-bordered table-striped mt-3 text-center align-middle"
  >
    <thead class="table-light">
      <tr>
        <th class="align-middle bg-dark text-white">Código VIN</th>
        <th class="align-middle bg-dark text-white">Odômetro</th>
        <th class="align-middle bg-dark text-white">Nível de Combustível (%)</th>
        <th class="align-middle bg-dark text-white">Status</th>
        <th class="align-middle bg-dark text-white">Lat.</th>
        <th class="align-middle bg-dark text-white">Long.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="align-middle">
          <input
            type="text"
            class="form-control text-center"
            maxlength="20"
            [(ngModel)]="vinCode"
            (ngModelChange)="onVinInputChange()"
            placeholder="Digite o código VIN"
          />
        </td>
        <td class="align-middle">{{ vehicleData?.odometro ?? "-" }}</td>
        <td class="align-middle">{{ vehicleData?.nivelCombustivel ?? "-" }}</td>
        <td class="align-middle">{{ vehicleData?.status ?? "-" }}</td>
        <td class="align-middle">{{ vehicleData?.lat ?? "-" }}</td>
        <td class="align-middle">{{ vehicleData?.long ?? "-" }}</td>
      </tr>
      
    </tbody>
  </table>
</div>
