<main>
    <section>
        <div class="photo">
            <img src="img/Mustang-red.png" />
        </div>
        <app-card
            title="Sistema de dados FORD"
            content="Seja bem-vindo(a)!"
            class="home-card"
        ></app-card>

        <app-sidebar
            [logo]="'img/ford.png'"
            [links]="[
                { label: 'Home', route: '/home' },
                { label: 'Dashboard', route: '/dashboard' }]"    
        ></app-sidebar>
    </section>
</main>


<!-- style="background-color: rgb(188, 233, 233);" -->