<main>
    <section>
        <app-logout-btn></app-logout-btn>

        <div class="photo">
            <img src="img/ranger.png" />
        </div>
        <app-card
            title="Sistema de dados FORD"
            class="home-card"
            style="width: 30%; height: 40%;"
        >Seja bem-vindo(a)!</app-card>

        <app-sidebar
            [logo]="'img/ford.png'"
            [links]="[
                { label: 'Login', route: '/login' },
                { label: 'Home', route: '/home' },
                { label: 'Dashboard', route: '/dashboard' }]"    
        ></app-sidebar>



    </section>
</main>


<!-- style="background-color: rgb(188, 233, 233);" -->