.menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
    background-color: #fffdfd;
    color: rgb(85, 193, 79);
    font-weight: 800;
    font-size: 1.7rem;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #04095c;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    transition: left 0.3s ease;
    z-index: 1002;
  }
  
  .sidebar.active {
    left: 0;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
  }
  
  .overlay.active {
    display: block;
  }
  
  .sidebar-logo {
    text-align: center;
    margin-bottom: 20px;

    img{
      max-width: 150px;
      height: auto;
      margin: 20px 0;
    }
  }