<main>
  <section>
    <app-sidebar
      [logo]="'img/ford.png'"
      [links]="[
        { label: 'Login', route: '/login' },
        { label: 'Home', route: '/home' },
        { label: 'Dashboard', route: '/dashboard' }
      ]"
    ></app-sidebar>
  
    <div class="title">
      <h1>Dashboard FORD</h1>
    </div>
  </section>
  
    <div class="card-container" >
      <app-card
        title="Veículo"
        content="fix it"
        class="dash-card"
      >
      <select name="cars" id="cars" style="width: 100%;">
        <option value="1">Ranger</option>
        <option value="2">Mustang</option>
        <option value="3">Territory</option>
        <option value="4">Bronco Sport</option>
      </select>
      </app-card>
  
      <app-card
        title="Total de Vendas"
        content="fix it"
        class="dash-card"
      ></app-card>
  
      <app-card
        title="Conecatados"
        content="fix it"
        class="dash-card"
      ></app-card>
  
      <app-card
        title="Update Software"
        content="fix it"
        class="dash-card"
      ></app-card>
    </div>

    <div class="car-img">
      <img src="http://localhost:3001/img/ranger.png" />
    </div>

    <div class="table">
      <app-table></app-table>
    </div>

  </main>
  