.title{
    width: 100vw;
    margin: auto;
    color: #0073ff;
}

div {
    display: flex;
    justify-content: space-between;
  }

  .dash-card {
    width: 10vw;
    height: 10vh;
    gap: 10px;
  }