.title {
  width: 100%;
  height: 50px;
  text-align: center;
  color: #0073ff;
  margin: 50px 0 90px 0;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 10px; 

  
  .dash-card {
    width: 250px;
    height: 125px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 30px;
    background-color: #637eca;
  }  
}

img {
  width: auto;
  height: 60%;
  margin: 0 auto;
}

.car-img{
  height: 26rem;
  display: flex;
  align-items: center;
  justify-content: center;
}