table {
    position: fixed;
    bottom: 0;
}

/* table {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;

    thead {
        height: auto;
        background-color: #0f46ad;
        color: #ffffff;
        font-weight: 600;
    }

    th {
        padding: 5px;
    }

    tfoot{
        background-color: #0f46ad;

        td{
            min-height: 10px;
        }
    }

} */
